<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631019706470-hveq57i4f6ookouv999mpo6js2p3vsgh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631019706470-hveq57i4f6ookouv999mpo6js2p3vsgh</string>
	<key>API_KEY</key>
	<string>AIzaSyB9fM5g3uXkEv8zv7QvdRnmXWQWwmTdQ-g</string>
	<key>GCM_SENDER_ID</key>
	<string>631019706470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChibaKazuki.MeditationApp2</string>
	<key>PROJECT_ID</key>
	<string>meditationapp2</string>
	<key>STORAGE_BUCKET</key>
	<string>meditationapp2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631019706470:ios:dfe6c825a58f692e41f5a7</string>
</dict>
</plist>